PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
#修改zabbix服务器IP
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}
#修改主机名
Hostname={{ ansible_hostname  }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf
